{% extends "base.html" %}

{% block head_content %}
<title>Inicio</title>
{% endblock %}

{% block container %}



 <!-- Page Heading -->
 <div style="padding-bottom: 35px;" class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 style="position: relative; left: 25px;" class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

<!-- ****************Cards*********************** -->
<div class="container-fluid">
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Ultima solicitud aprobada de licencia</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$50,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!-- Earnings (Monthly) Card Example -->
         <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Dias usufructuados disponibles</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!-- Earnings (Monthly) Card Example -->
         <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                               Total de licencias acumuladas</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</div>
<!-- *****************end cards************************ -->

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Report</h6>
    </div>
    {% if detail %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Antiquity</th>
                            <th>Leave days</th>
                            <th>Remainder</th>
                            <th>Status</th>
                        
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Year</th>
                            <th>Antiquity</th>
                            <th>Leave days</th>
                            <th>Remainder</th>
                            <th>Status</th>
                        </tr>
                    </tfoot>
                    
                    {% for d in detail %}
                        <tbody>
                            <tr>
                                <td>{{d.year}}</td>
                                <td>{{d.antiquity}}</td>
                                <td>{{d.leave_days}}</td>
                                <td>{{d.remainder}} </td>
                                
                                
                                
                            </tr>
                            
                        </tbody>
                        
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</div>


{% endblock %}


