{% extends 'base.html' %}


{% block head_content %}

<title>Load data</title>
    
{% endblock head_content %}


{% block container %}
<div class="container bootstrap snippets bootdey">
    
    <hr>
    <div class="row" style="padding-top: 35px;">
    

        <div class="col-md-9 personal-info" id="div-search">

            <form class="form-horizontal" role="form" enctype="multipart/form-data" method="POST" action="{% url 'data' %} ">
                {% csrf_token %}
                <div style="width:70%; height: 100%; ">
                    <select style="width: 250px; text-align:center" name="employee" id ="empployee" class="form-select" aria-label="Default select example">
                        <option value="0">person</option>
                        
                        {% for emp in employee  %}
                            <option value='{{emp.id}}'>{{emp.profile.user.first_name}} {{emp.profile.user.last_name}} </option> 
                        {% endfor %}
                            
                    </select>
                </div>
                <button style="width: 200px; left: 12px;" class="btn btn-primary btn-block mt-5" type="submit">Buscar</button>
            </form>
        </div>
        <br><br><br>
        <div class="card-body" style="position:relative; top: -200">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Fecha de solicitud</th>
                            <th>Estado</th>
                           
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Fecha de solicitud</th>
                            <th>Estado</th>
                        </tr>
                    </tfoot>
                    
                    {% for d in detail %}
                        <tbody>
                            <tr>
                                <td>{{d.antiquity}}</td>
                                <td>{{d.year}}</td>
                                
                                
                            </tr>
                            
                        </tbody>
                        
                    {% endfor %}
                        
                    
                </table>
            </div>
        </div>
    
    
    </div>
    
</div>


    
{% endblock container %}
    

    