{% extends 'base.html' %}


{% block head_content %}

<title>New Detail</title>
    
{% endblock head_content %}


{% block container %}
<div class="container bootstrap snippets bootdey">
    
    <hr>
  <div class="row" style="padding-top: 35px;">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        
        <h1 class="text-primary">New Detail</h1>
        
        
      </div>
    </div>
    
    <!-- edit form column -->
    <div class="col-md-9 personal-info">
      
      <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        {% if form.errors %}

          <div class="alert alert-danger" role="alert">
            {{ form.errors }}
          </div>
        {% endif %}
          <div class="form-group">
            <div class="col-lg-8">
              <select style="width: 250px; text-align:center" name="employee" id ="empployee" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option value="0">Select person</option>
                
                {% for employee in detail  %}
                    <option value='{{employee.id}}'>{{employee.profile.user.first_name}} {{employee.profile.user.last_name}} </option> 
                {% endfor %}
                    
              </select>
            </div>
          </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Antiquity:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" name="antiquity" id="antiquity">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Leave days:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" name="leave_days" id="leave_days">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Remainder:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" name="remainder" id="remainder">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Year:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" name="year" id="year">
          </div>
        </div>
        
        <button style="width: 200px; left: 12px; position: relative; " class="btn-detail" type="submit">Save</button>
      </form>
    </div>
</div>
</div>
<hr>
    
{% endblock container %}
    