{% extends 'base.html' %}


{% block head_content %}
<title>Change password</title>
{% endblock head_content %}


{% block container %}
<div class="container bootstrap snippets bootdey">
    
    <hr>
  <div class="row" style="padding-top: 70px;">
    <!-- left column -->
    <div class="col-md-3">
        <div class="text-center">
        
            <h1 class="text-primary">Change Password</h1>  
        
        </div>
    </div>
    
        <!-- edit form column -->
        <div class="col-md-9 personal-info">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button style="width: 200px; left: 12px; top:30px; position: relative; " class="btn-detail" type="submit">Update</button>
        </form>
    </div>
</div>
    
{% endblock container %}
    