
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Licenses </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    {% if not request.user.is_superuser %}
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'dashboard' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'update_profile' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Profile</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'change_password' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Change password</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'licenses' %} ">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>My Licenses</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href=" {% url 'request_license' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Request</span></a>
        </li>
        {% if request.user.is_staff %}
            <li class="nav-item active">
                <a class="nav-link" href=" {% url 'data' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Data</span></a>
            </li>

        {% endif %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'logout' %} ">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Sign off</span></a>
        </li>
    {% endif %}

    <!-- ********** nav admin ******************* -->
    {% if request.user.is_superuser %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'dashboard' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard admin</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'admin:index' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Edit access</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'admin:password_change' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Change password</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'admin:index' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Request received</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'logout' %} ">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Sign off</span></a>
        </li>
    {% endif  %}
    
    

    

</ul>
<!-- End of Sidebar -->